[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
ipykernel = "*"
requests = "*"
django = "==3.1.5"

[dev-packages]
engine = {editable = true, path = "."}

[requires]
python_version = "3.9"
